*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbarcontainer nav{
    padding: 20px 0;
    position: absolute;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menuLink a{
    text-decoration: none;
    color: rgb(31, 31, 31);
}
.menuLink a:hover{
    color: black;
}
.logo img{
    max-width: 100px;
    height: auto;
    margin: 0 20px;
}
.callToAction button{
    padding: 9px 20px;
    transition: 0.3s ease;
    border: 1px solid black;
    background: none;
    margin: 0 20px;

}
button:hover{
    transition: 0.3s ease;
    cursor: pointer;
    background: black;
    color: white;
}